:root {
    --color-primary: #fefcf4;
    --color-primary-rgb: 255, 239, 120;
    --color-dark: #000000;
    --color-dark-rgb: 0, 0, 0;
    --color-light: #fefcf4;
    --color-light-rgb: 255, 255, 255;
    --font-family-primary: "Antic Slab", serif;
    --font-family-secondary: "Otama EP", "serif";
}