@import "../styles/variables.css";

.home {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.picture,
.sidebar {
    box-sizing: border-box;
    width: 100%;
}

.picture {
    align-items: center;
    background-blend-mode: multiply;
    background-color: var(--color-primary);
    background-image: url(https://ucarecdn.com/9d9554ae-ba9d-4d49-905c-1f0be39e1e2a/-/progressive/yes/-/quality/lightest/babi-e-geovani.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 24px;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    padding-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
    position: relative;
}

.picture::after {
    background: transparent;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 60%);
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.picture .logo {
    fill: var(--color-light);
    margin-top: -56px;
    position: relative;
    width: 300px;
    z-index: 2;
}

.button--details {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.button--details .chevron-bottom {
    fill: var(--color-dark);
    height: 12px;
    margin-left: 8px;
    width: 12px;
}

.sidebar {
    background-color: var(--color-primary);
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
}

.sidebar .information:first-child {
    padding-top: 0;
}

.sidebar .information:last-child:after {
    display: none;
}

.information__container {
    margin-bottom: 80px;
    margin-top: -64px;
}

.information {
    padding-top: 32px;
}

.information:after {
    background-color: var(--color-dark);
    content: "";
    display: block;
    height: 1px;
    margin-top: 32px;
    width: 100%;
}

.information h2 {
    font-size: 26px;
    padding-bottom: 24px;
}

.information p {
    padding-bottom: 8px;
}

.information p:last-child {
    padding-bottom: 0;
}

.information .button {
    margin-top: 24px;
}

@media (min-width: 1024px) {
    .home {
        flex-direction: row;
        gap: 0;
    }

    .picture {
        background-size: cover;
        width: 60%;
    }

    .picture .logo {
        margin-top: -140px;
        width: 300px;
    }

    .picture .menu,
    .picture .button {
        display: none;
    }

    .sidebar {
        height: 100vh;
        overflow-y: scroll;
        padding-bottom: 64px;
        padding-left: 64px;
        padding-right: 64px;
        padding-top: 64px;
        width: 40%;
    }

    .information {
        padding-top: 48px;
    }

    .information:after {
        margin-top: 48px;
    }

    .information__container {
        margin-bottom: 0;
        margin-top: 0;
    }   
}